


.card_image{
    max-width: 100px !important;
    max-height: 75px !important;
    /* height: auto;
    max-height: 60vh; */
    border-radius: 5%;
}

.rec-slider-container{
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.sc-bdfBwQ{
    float: left;
    width: 10px !important;
    height: 40px !important;
    border-radius: 5% !important;
    /* background-color: #F0EBF8 !important; */
    /* background-image: url('../Images/right.png') !important;
    background-repeat: no-repeat;
    color:#009688 !important; */
    background-position: center;
    -moz-box-shadow:    1px 1px 2px 3px #ccc !important;
    -webkit-box-shadow: 1px 1px 2px 3px #ccc !important;
    box-shadow:         1px 1px 2px 3px #ccc !important;
    content: "" !important;
    border-color: #009688;
}
.sc-bdfBwQ:hover{
  /* background-color: #3E8177 !important;
  color:#3E8177 !important; */
}
.lgksPe{
  content: "" !important;
  
}
.rec-arrow-right{
    /* background-image: url("../Images/test3.png") no-repeat; */ 
    content: "" !important;
    background-image: url('../Images/right.png') !important;
    background-repeat: no-repeat;
    color:#009688 !important;
    content: "sg" !important;
    color: rgba(0, 0, 0, 0.0) !important;
    text-decoration: none !important;
    border-color: #009688;
}
.rec-arrow-left{
  content: "" !important;
    background-image: url('../Images/left.png') !important;
    background-repeat: no-repeat;
    color:#009688 !important;
    content: "sg" !important;
    color: rgba(0, 0, 0, 0.0) !important;
    text-decoration: none !important;
    border-color: #009688;
}

.rec-dot{
  display: none;
}

.rec-dot_active{
    background-color: #3E8177 !important;
    /* display: inline; */
}
.cJeRRR{
  box-shadow: 0 0 1px 3px #ffff !important;
}

.world-news{
  padding-top: 2vh;
  padding-bottom: 0%;   
}

.news_content{
    text-align: justify;
    vertical-align: middle;
}

.single_news_container{
    -moz-box-shadow:    3px 3px 5px 6px #ccc !important;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc !important;
    box-shadow:         3px 3px 5px 6px #ccc !important;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}





  /*-------------------------------------------------------------------------- */


  /* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* ------------------------------------------------------------------------- */






  /*

  ------------- Latest news --------------

  */

  .singel_news{
      width: 100%;
      min-width: 300px !important;
      max-width: 400px !important;


      height: 100%;
      min-height: 400px !important;
      max-height: 400px !important;

      margin: auto;
      padding: auto;

  } 


 

  /* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }



  /* ----------------------------------------------------------- */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #3E8177;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #3E8177;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


.recomender_component{
  margin-top: 50px !important;
}