.coronavirus_banner{
    width:100%;
    float:left;
    background:black;
    margin-bottom: 20px;
}
.coronavirus_banner .c_b_title{
    background-color: #f38120;
    padding: 7.5px 2%;
    float: left;
    width: 100%;
}
.v_b_left{
    width: 270px;
    float: left;
}
.v_b_center{
    width: 93%;
    width: -webkit-calc(100% - 270px - 0%);
    width: calc(100% - 270px - 0%);
    float:left;
}
.v_b_center .c_b_confirmed_cases span.vb_right_text{
    color: #fff;
}
.coro_icone{
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 1%;
}
.coro_icone img{
    width: 100%;
}
.vb_left_box{
    float:left;
    width: 93%;
    width: -webkit-calc(100% - 62px - 1%);
    width: calc(100% - 62px - 1%);
    margin-left: -33px;
}
.cc_tttxt{
    float: left;
    width: 210px;
    font-size: 30px;
    line-height: 58px;
}
.c_red{
    color: #fff;
}
.p_green{
    color: #321912;
    line-height: 20px;
    margin-left: -9px;
}
.c_c{
    font-size: 16px;
    color: #321912;
    font-family: 'gn-tittle';
    line-height: 0px;
    margin-top: -4px;
    float: right;
    width: 100%;
    text-align: right;
    margin-right: 10px;
}
.c_b_confirmed_cases{
    background-color: #cf161c;
    background-image: linear-gradient(to right, #a20d11 , #e81825);
}
.c_b_deth_cases.c_b_tc{
    background-color: #f38120;
}
.c_b_deth_cases.c_b_tc span.vb_right_text{
    color: #fff;
}
.c_b_confirmed_cases span.vb_right_text{
    display: inline-block;
    font-size: 32px;
    line-height: 46px;
    color: #fff;
    text-align: center;
}
.c_b_confirmed_cases span.vb_right_number{
    display: block;
    line-height: 7px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    margin: 0 auto 0 0;
}
.c_b_deth_cases{
    background-color: #2e2f31;
    margin: 0;
    width: 14.282%;
    float: left;
    text-align: center;
    list-style: none;
    padding: 5px 1%;
}
.c_b_deth_cases span.vb_right_number{
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 7px;
    margin: 16px auto 0 0;
    text-align: center;
    text-transform: uppercase;
}
.c_b_deth_cases span.vb_right_text{
    display: inline-block;
    font-size: 32px;
    line-height: 44px;
    color: #f00;
    text-align: center;
}
.c_b_recovered_cases{
    background-color: #cf161c;
    background-image: linear-gradient(to right, #87c049 , #16924a);
}
.c_b_deth_cases.c_b_recovered_cases span.vb_right_text{
    color: #fff;
}
.c_b_recovered_cases span.vb_right_number{
    color: #fff;
    font-size: 12px;
}
.v_b_right ul{
    padding: 0;
    margin: 0;
}
.v_b_right ul li{
    width: 13.7%;
    margin: 0px .5% 0 0;
    float: left;
    text-align: center;
    color: #ccc;
    font-size: 30px;
    list-style: none;
    padding: .8% 1%;
    border-right: 1px solid #414244;
}
.v_b_right ul li:last-child{
    border-right:0;
}
.vb_right_number {
    display: block;
    color: #efb63a;
    font-size: 10px;
    line-height: 7px;
    margin: 16px auto 0 0;
    text-align: center;
    text-transform: uppercase;
}

.vb_right_text{
    display: inline-block;
    color: #fff;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    font-family: 'gn-bold';
}
@media (max-width: 1199px){
    .v_b_left{
        width: 220px;
        float: left;
    }
    .v_b_center{
        width: 93%;
        width: -webkit-calc(100% - 220px - 0%);
        width: calc(100% - 220px - 0%);
        float:left;
    }
    .c_b_deth_cases span.vb_right_number{
        font-size: 11px;
    }
    .cc_tttxt {
        font-size: 25px;
    }
    .c_c{
        font-size: 12px;
        margin-right: 48px;
    }

}
@media (max-width: 992px){
    .coronavirus_banner{
        height: 155px;
        position: relative;
    }
    .c_b_deth_cases span.vb_right_text{
        font-size: 25px;
    }
    .c_b_deth_cases.c_b_recovered_cases{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
    }
    .c_b_deth_cases.c_b_confirmed_cases{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
    }
    .c_b_deth_cases{
        width: 20%;
    }

}
@media (max-width: 767px){
    .coronavirus_banner .c_b_title{
        padding: 9.5px 2%;
    }
    .v_b_left {
        width: 160px;
        text-align: center;
    }
    .v_b_center{
        width: 100%;
        width: -webkit-calc(100% - 160px - 0%);
        width: calc(100% - 160px - 0%);
    }
    .c_b_deth_cases span.vb_right_number{
        font-size: 9px;
    }
    .c_b_deth_cases span.vb_right_text{
        font-size: 22px;
    }
    .vb_left_box{
        margin-left: -82px;
    }
    .cc_tttxt {
        font-size: 20px;
        line-height: 50px;
    }
    .c_b_deth_cases.c_b_recovered_cases span.vb_right_text {
        font-size: 30px;
    }
    .v_b_center .c_b_confirmed_cases span.vb_right_text {
        font-size: 30px;
    }
    .coronavirus_banner .container{
        padding: 0;
    }
}
@media (max-width: 600px){
    .coronavirus_banner{
        height: auto;
    }
    .v_b_left{
        width: 100%;
    }
    .v_b_center{
        width: 100%;
    }
    .c_b_deth_cases.c_b_recovered_cases {
        position: absolute;
        left: inherit;
        bottom: inherit;
        width: 50%;
        top: 0;
        right: 0;
        height: 40px;
    }
    .c_b_deth_cases.c_b_confirmed_cases {
        position: absolute;
        right: 0;
        bottom: inherit;
        width: 50%;
        top: 41px;
        height: 40px;
    }
    .c_b_deth_cases.c_b_recovered_cases span.vb_right_number, .c_b_deth_cases.c_b_confirmed_cases span.vb_right_number{
        margin: 0;
    }
    .c_b_deth_cases.c_b_recovered_cases span.vb_right_text, .v_b_center .c_b_confirmed_cases span.vb_right_text {
        font-size: 20px;
        line-height: 30px;
    }
    .c_b_deth_cases span.vb_right_number {
        margin: 4px auto 0 0;
        font-size: 8px;
    }
    .c_b_deth_cases span.vb_right_text{
        line-height: 30px;
        font-size: 20px;
    }

    .c_b_recovered_cases .vb_right_number,.c_b_confirmed_cases .vb_right_number{
        margin-top: 2px;
    }
}
@media (max-width: 400px){
    .c_b_deth_cases span.vb_right_number {
        font-size: 7px;
    }
    .c_b_deth_cases span.vb_right_text{
        font-size: 16px;
    }
}
