
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.uih-div{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 1%;
    font-family: Comic Sans MS;
}
.logo{
    color: #3E8177;
    font-weight: bolder;
}

.info-class{
    padding-left: 9%;
}

.get-intrest-btn{
	color: #3E8177;
	text-decoration: none;
	font-size: 2em;
	display: inline-block;
	font-family: Montserrat;
	text-transform: uppercase;
	padding: 0.5em 2em;
	border: 2px solid #cecd24;
	transition:.02s .2s cubic-bezier(.1, 0, .1, 1);
}
.get-intrest-btn:before
{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #cecd24;
    transition:.3s .2s cubic-bezier(.1, 0, .1, 1), left .3s cubic-bezier(.1, 0, .1, 1);
    z-index: -1;
}
		

.get-intrest-btn:after
{
    content: "";
    display: inline-block;
    background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right .3s cubic-bezier(.1, 0, .1, 1);
}
		
.get-intrest-btn:hover
{
    padding: 0.5em 3.5em 0.5em 0.5em;
}
.get-intrest-btn:hover:before
{
    left: calc(100% - 3em);
    right: 0;
    transition: .3s cubic-bezier(.1, 0, .1, 1), left .3s .2s cubic-bezier(.1, 0, .1, 1);
}
.get-intrest-btn:hover:after
{
    right: 0;
    transition: right .3s .2s cubic-bezier(.1, 0, .1, 1);
}

.btn-ye{
    background-color: #3E8177;
    color: #ffff;
    border-style: none;
    display: flex;
    flex-wrap: wrap;
}











         