@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #FFFFFF;
    font-family: 'Ubuntu', sans-serif
}
.container-fluid{
    
    /* background-color: #454B54; */
    background: linear-gradient(to bottom right, #E5E5E5, #FFFFFF);
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1%;
    margin-left: 0%;
    margin-bottom: 0% !important;
    margin-right: 0%;
}
.box {
    position: relative;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;

    min-width: 229px !important;
    min-height: 96px !important;

    justify-content: center;
    align-items: center;
}
.cont{
  justify-content: center;
  align-items: center;
}
.slected{
  background-color: #3E8177  !important;
  /* border: solid yellow; */
}
.our-services {
    margin-top: 30px;
    padding-bottom: 30px;
    padding: 0 60px;
    
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    min-width: 109px !important;
    min-height: 95px !important;
    justify-content: center;
    /* background-color: #979A9A ; */
}

.our-services .icon {
    margin-bottom: -8px;
    transform: translateY(-20%);
    text-align: center

}
.roundimage{
    border-radius: 50%;

    min-width: 109px !important;
    min-height: 74px !important;
}
.cat_name{
    color: black;
    font-family: Comic Sans MS;
    font-weight: bold;
}
.our-services:hover h4,
.our-services:hover p {
    font-weight: bolder;
}


.settings:hover, .settings:focus, .settings:active {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%) */
    cursor: pointer;
    -webkit-animation-name: hvr-wobble-bottom;
    animation-name: hvr-wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    
}
.row{
  margin-right: 0px !important;
}

/*  =========== */






















/* ================================ */

/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-bottom {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }

/* ================================= */